<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Metadua Blockchain Fund</h2>
        <p class="lead">Metadua manages indexed blockchain assets for investors through a passively managed portfolio that is rebalanced periodically. This instrument is a passive blockchain asset management that mimicks the operation of an index fund. The underlying assets are held and not actively traded other than for portfolio rebalancing purposes. The materials on this website are for illustration and discussion purposes only and do not constitute an offering. An offering may be made only by delivery of confidential information/offering memorandum to appropriate investors.</p>
      </div>
      <div class="col-lg-12 text-center">
        <h2>Metadua Exchange</h2>
        <p class="lead">Metadua aims to create a scalable and fault tolerant financial exchange. This open, high availability financial exchange enables a fair, level playing field for all participants. It will go back to basics by supporting non-complex order types. Sophisticated participants may further engineer the order expressions by customizing rules and algorithmic instructions, and execute them directly in this exchange's order matching engine.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
