<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The next generation financial exchange</h2>
        <p class="lead">Metadua aims to create a scalable and fault tolerant financial exchange. This open, high availability financial exchange enables a fair, level playing field for all participants. It will go back to basics by supporting non-complex order types. Sophisticated participants may further engineer the order expressions by customizing rules and algorithmic instructions, and execute them directly in this exchange's order matching engine.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
