<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Next generation financial exchange</h2>
        <p class="lead">Metadua is building an open, scalable, fault tolerant, high availability financial exchange that enables level playing field for all participants. It will go back to basic by supporting only simple order types. Althought only simple order types are supported, sophisicated participants can construct an order expression (made up of rules and order instructions) and execute it directly in this exchange's order matching engine.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
